[Unit]
Description=Jira Service
After=network.target

[Service]
Type=forking
User={{ jira_osuser_name }}
#Environment=JRE_HOME={{ jre_home_path }}
ExecStart={{ jira_installdir_path }}/bin/start-jira.sh
ExecStop={{ jira_installdir_path }}/bin/stop-jira.sh
ExecReload={{ jira_installdir_path }}/bin/stop-jira.sh | sleep 60 | {{ jira_installdir_path }}/bin/start-jira.sh

[Install]

WantedBy=multi-user.target